@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

main {
  background: linear-gradient(
      15deg,
      rgba(245, 234, 141, 0.49),
      rgba(238, 236, 219, 0.49)
    ),
    rgba(254, 232, 182, 0.85);
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
}

header {
  height: 100%;
  background-color: #be6e4b;
  font-family: 'Roboto Slab', serif;
  color: rgb(34, 77, 120);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

#title {
  color: rgb(34, 77, 120);
  font-weight: bold;
  border-bottom: 40px;
  text-align: center;
  border-bottom: 50px;
  font-size: 18px;
  padding: 10px;
}

#introduction {
  text-align: center;
  color: black;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.content {
  height: auto;
  float: right;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  width: 100%;
  margin-bottom: 15px;
  padding: 0%;
}

#img-1 {
  width: 60%;
  float: left;
  border-radius: 10px;
  margin: 5px;
  padding-right: 0px;
}

.tema-materials {
  display: flex;
  justify-content: space-around;
}

.content h2 {
  color: rgb(34, 77, 120);
  font-weight: bold;
}

.tema-materials ul {
  list-style-type: circle;
  text-align: left;
  line-height: 30px;
  color: rgb(34, 77, 120);
  font-weight: bold;
  margin: 20px;
}

.tema-materials #img-3 {
  width: 40%;
  border-radius: 5px;
  margin: 20px;
}

.tema-materials #img-4,
#img-5,
#img-6 {
  width: 30%;
  margin: auto;
  border-radius: 5px;
}

.maquete {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  width: 100%;
  margin-bottom: 10px;
}

.tema-materials #img-7 {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

footer {
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #e5e773;
  text-align: left;
  background: linear-gradient(
      15deg,
      rgba(22, 3, 109, 0.49),
      rgba(61, 47, 141, 0.49)
    ),
    rgba(108, 109, 158, 0.85);
  line-height: 25px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: safe;
  font-size: 16px;
  color: #e5e773;
  font-weight: bold;
  width: 100%;
  text-align: right;
}
